/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
  
a {
  text-decoration: none;
}
  
li {
  list-style: none;
}

/* NAVBAR MAIN */
.navbar {
  padding: 10px 0 10px 0;
  align-items: center;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* LOGO */
.logo {
  margin-right: 10px;
  margin-left: 50px;
}

/* DARK MODE ICON */
.dark-mode {
  margin-left: 200px;
}

/* HUMBERGER ICON */
.menu {
  margin-left: 20px;
  margin-right: 50px;
}

/* .nav-links a {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  color: black;
} */

/* MAIN DESIGN */
@font-face {
  font-family: Koulen-Regular;
  src: url(fonts/Koulen-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(fonts/SourceSansPro-Regular.ttf);
}

main {
  margin: 50px 0 0 0;
}

.headline-opener {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Koulen-Regular';
  font-size: 34px;
  letter-spacing: 2.5px;
  color: black;
}

.headline-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'SourceSansPro-Regular';
  font-size: 22px;
  color: black;
}

.contact-form {
  margin-top: 40px;
}

.contact-form div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.email-caption {
  margin-right: 60px;
  font-family: 'SourceSansPro-Regular';
  font-size: 12px;
  color: black;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #666666;
  font-family: 'SourceSansPro-Regular';
  font-size: 12px;
}

input[type=email] {
  width: 100%;
  padding: 8px 20px 8px 10px;
  margin: 6px 30px 8px 0;
  background-color: #EEEEEE;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 8px 20px 8px 10px;
  font-family: 'SourceSansPro-Regular';
  font-size: 17px;
  /* font-weight: 600; */
  letter-spacing: .5px;
  background-color: #FFD600;
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: 2px 2px 2px 0 rgba(50, 50, 71, 0.06), 2px 2px 4px 0 rgba(50, 50, 71, 0.06);
 
}

/* SOCIAL MEDIA SECTION */
.follow-on {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0 0 0;
  font-family: 'SourceSansPro-Regular';
  font-size: 17px;
}

.social-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 60px 0 60px;
}

/* MAIN IMAGE DESIGN */
.main-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gym-rat {
  width: 200px;
  height: 200px;
}

/* BOTTOM NAVBAR */
.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.1);

  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ABOUT ME SECTION */
.horizontal-break {
  margin: 60px 0 40px 0;
}
hr {
  width: 75%;
  margin: auto;
}
.about-section .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 55px;
  font-family: 'Koulen-Regular';
  font-size: 34px;
  letter-spacing: 2.5px;
  /* margin: 0 110px 0 0; */
}

.about-section .body { 
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  margin: 0 0 0 55px;
  font-family: 'SourceSansPro-Regular';
  font-size: 13px;
  color: black;
}

.about-section .body a {
  color: black;
  font-weight: bold;
}

.tcc-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0 0 0;
}

.about-section .tcc-img img {
  box-sizing: border-box;
  width: 168px;
  height: 168px;
}

.tcc-img-caption {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-section .tcc-img-caption {
  font-family: 'SourceSansPro-Regular';
  font-size: 11px;
  color: #666666;
}

.about-section .about-section-more {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'SourceSansPro-Regular';
  font-size: 13px;
  font-weight: bold;
  margin: 30px 0 100px 0;
}

.about-section .about-section-more a {
  text-decoration: underline;
  color: black;
}

.project-section-1-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px 45px;
}

.project-section-2-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px 45px;
}

.project-caption {
  box-sizing: border-box;
  width: 70px;
  font-family: 'SourceSansPro-Regular';
  font-size: 11px;
  color: #666666;
}