/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
  
a {
  text-decoration: none;
}
  
li {
  list-style: none;
}

/* LOGO */
.logo {
  float: left;
  padding: 0 0 0 60px;
}

/* NAVBAR MAIN */
.navbar {
  align-items: center;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-links a {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  color: black;
}

/* NAVBAR MENU */
.menu {
  padding: 0 100px 0 0;
}

.menu li {
  font-size: 18px;
  float: left;
  padding: 5px 0 5px 30px;
}

div.menu {
  display: flex;
  justify-content: flex-end;
}

/* MAIN DESIGN */
@font-face {
  font-family: Koulen-Regular;
  src: url(fonts/Koulen-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(fonts/SourceSansPro-Regular.ttf);
}

main {
  padding: 180px 100px 100px 100px;
  /* padding-bottom: 800px; */
  float: left;
}

.headline-opener {
  font-family: 'Koulen-Regular';
  font-size: 64px;
  letter-spacing: 2.5px;
  color: black;
  padding: 0 0 0 190px;
}

.headline-list {
  font-family: 'SourceSansPro-Regular';
  font-size: 34px;
  color: black;
  margin-top: -20px;
  padding: 0 0 0 190px;
}

.email-caption {
  font-family: 'SourceSansPro-Regular';
  font-size: 22px;
  color: black;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #767676;
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
}

input[type=email] {
  width: 100%;
  padding: 22px 20px;
  margin: 6px 0 15px 0;
  background-color: #EEEEEE;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit-button {
  font-family: 'SourceSansPro-Regular';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  background-color: #FFD600;
  border: none;
  border-radius: 8px;
  color: white;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
  box-shadow: 2px 2px 2px 0 rgba(50, 50, 71, 0.06), 2px 2px 4px 0 rgba(50, 50, 71, 0.06);
  padding: 16px 200px;
}

.contact-form {
  margin: 50px 0 0 0;
  padding: 0 0 0 190px;
  /* border-style: solid; */
  /* float: left; */
}

/* MAIN IMAGE DESIGN */
.gym-rat {
  float: right; 
  margin: 180px 250px 0 0;
}

/* FOOTER MAIN */
.footer-main {
  display: flex;
  align-items: center;
  padding: 30px;
  /* background-color: ghostwhite; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  justify-content: center;
}

/* SOCIAL MAIN */
.social-main {
  display: flex;
  align-items: center;
  border-style: solid;
  padding: 20px;
  /* margin: 0 300px 0 0; */
}

.social-header {
  padding: 0 10px 0 0;
}

.social-links a {
  align-items: center;
  float: left;
  padding: 5px 10px 0 0;
  color: black;
}

/* CONTACT MAIN */
/* .contact-main {
  border-style: solid;
  padding: 20px;
  margin: 0 0 0 400px;
} */

/* .contact-form p {
  padding-bottom: 10px;
} */

/* .submit-button {
  background-color: brown;
  border-color: black;
  color: white;
  padding: 10px;
} */

/* .reset-button {
  border-color: black;
  color: black;
  padding: 10px;
} */

/* ABOUT MAIN */
.about-main a {
  color: black;
}

.about-main li {
  color: black;
}